!!!
%html
  %head
    %title ReadyBlog
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #page
      .header
        %p#title Ready Blog
        = render 'shared/site_nav'


      %p.notice= notice
      %p.alert= alert

      .center
        = yield

      .footer
